<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".json" allowed="true" />
                    <add fileExtension=".jz" allowed="true" />
                    <add fileExtension=".plist" allowed="true" />
                </fileExtensions>
            </requestFiltering>
        </security>
        <staticContent>
            <mimeMap fileExtension=".plist" mimeType="text/xml" />
            <mimeMap fileExtension=".json" mimeType="text/xml" />
            <mimeMap fileExtension=".ver" mimeType="text/javascript" />
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
            <mimeMap fileExtension=".jz" mimeType="application/octet-stream" />
        </staticContent>
    </system.webServer>
</configuration>
